/* Spider-Man Theme */

/* Background color */
body {
  background-color: #000000;
}

/* Chat message background color */
.messages-wrapper .message-group {
  background-color: #1e1e1e;
}

/* Chat message text color */
.message-group .markup {
  color: #ffffff;
}

/* User tag color */
.message-group .username-wrapper strong {
  color: #ff0000;
}

/* Hyperlink color */
.message-group a {
  color: #ff0000;
}



/* Spider-Man font */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
body {
  font-family: 'Archivo Black', sans-serif;
}