/* Have this while the theme is still private, Dark mode may look bad. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root, body {
  --font-primary: "Roboto";
  --font-display: "Roboto";
  --font-headline: "Roboto";
  
  background: #000000;
}
::-webkit-scrollbar, .arrow-2HswgU.icon-3zI3d2, .wordmarkWindows-2dq6rw, .closeButton-PCZcma svg, .icon-2W8DHg, .content-1gYQeQ:has(.children-1MGS9G) .children-1MGS9G, .field-21XZwa.fieldSpacerBottom-3xUCTB, .userInfo-regn9W .button-ejjZWC.lookFilled-1H2Jvj.colorBrand-2M3O3N.sizeSmall-3R2P2p.grow-2T4nbg, .usernameRow-1x50RR:has(.h5-2feg8J.eyebrow-2wJAoF.fieldTitle-2g5r_V) h3, .bannerSVGWrapper-2CLfzN mask, .overflowMenuButton-1I3Jz1 {
  display: none;
}

.theme-dark {
    --background-primary: transparent !important;
    --background-secondary-alt: linear-gradient(#9a0808a1, #000000, #1e43e9) !important;
    --background-secondary: transparent !important;
    --background-tertiary: transparent !important;
    --background-accent: linear-gradient(#9a0808a1, #1e43e9) !important;
    --background-floating: #000000 !important;
    --background-nested-floating: #FF0000 !important; /* Unknown Location */
}

.theme-dark body {
  background: unset !important;
  background-image: url(spoder.jpeg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.theme-dark #app-mount {
    backdrop-filter: blur(0px) brightness(0.5);
}

.theme-light {
    --background-primary: transparent !important;
    --background-secondary: linear-gradient(#8b0707d5, #000000);
    --background-secondary-alt: transparent !important;
    --background-tertiary: #000000;
    --background-accent: #000000;
    --background-floating: #666966;
    --background-nested-floating: #FF0000; /* Unknown Location */
}


[style*='background-image: url("/assets/8c998f8fb62016fcfb4901e424ff378b.svg");'],
[style*='background-image: url("/assets/645df33d735507f39c78ce0cac7437f0.svg");'] {
  background-image: url(spooder.svg) !important;
}